#the_best_movie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid black;
  padding: 10px;
  /*width: 50%;
  margin:auto;*/
}

#the_best_movie_left_box {
  flex-grow: 1;
}

#the_best_movie_right_box {
  flex-grow: 3;
}

#the_best_movie_img {
  width:364px;
  height:268px;
  margin-left: auto;
  margin-right: auto;
}

.play-button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.play-button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.play-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
