body {
  margin: 0; /* pour éviter les marges */
}

#bloc_de_page
{
  margin: auto;
  width: 70%;
}

#contenu_de_page
{
  position:relative;
}

header
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #6f7a82;

}

header h1
{
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  color: white;
  padding-left : 20px;
  padding-right : 20px;
  margin-right: 80px;
}

/* Navigation */

nav ul
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav li
{
  margin-right: 15px;
}

nav a
{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover
{
  color: black;
  border-bottom: 3px black;
}

h2 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

#menu {
  display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #bloc_de_page
  {
    position:relative;
    margin: 0;
    width:auto;
  }
  nav ul {
    display: none;
  }

  #menu {
    display: block;
    position:absolute;
    width: auto;
    padding: 5px;
    margin: 5px;
    right:0;
  }

  nav.responsive {
    display:block;
    position: absolute;
    padding: 0;
    top:83px;
    width: 100%;
    left:0;
    background-color: #6f7a82;
    opacity: 0.7;  
  }

  nav.responsive ul {
    display: flex;
    flex-direction: column;
  }

  #contenu_de_page.responsive {
    display:block;
    position: absolute;
    padding: 0;
    top:185px;
    width: 100%;
    left:0;
  }

}
