body {
  margin: 0; /* pour éviter les marges */
}

#bloc_de_page
{
  margin: auto;
  width: 70%;
}

header
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #6f7a82;

}

header h1
{
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  color: white;
  padding-left : 20px;
  padding-right : 20px;
  margin-right: 80px;
}

/* Navigation */

nav ul
{
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-right: 15px;
}

nav a
{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover
{
  color: black;
  border-bottom: 3px black;
}

h2 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #bloc_de_page
  {
    margin: 0;
    width:auto;
  }
  nav ul {
    display: none;
  }

}
