{% extends 'base.html' %}

{% block body %}

<aside id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="myModal_title"></h2>
        </div>
        <div class="modal-body">
            <img id="myModal_img" src=""/>
            <h3>Genre complet du film</h3>
            <p id="myModal_genres"></p>
            <h3>Date de sortie</h3>
            <p id="myModal_date_published"></p>
            <h3>Rated</h3>
            <p id="myModal_rated"></p>
            <h3>Score IMDB</h3>
            <p id="myModal_imdb_score"></p>
            <h3>Réalisateurs</h3>
            <p id="myModal_directors"></p>
            <h3>Acteurs</h3>
            <p id="myModal_actors"></p>
            <h3>Durée en minutes</h3>
            <p id="myModal_duration"></p>
            <h3>Pays d'origine</h3>
            <p id="myModal_countries"></p>
            <h3>Résultat au box office</h3>
            <p id="myModal_worldwide_gross_income"></p>
            <h3>Résumé du film</h3>
            <p id="myModal_long_description"></p>
        </div>
    </div>
</aside>


<h2>Meilleur Film</h2>
<section id="the_best_movie" class="best-movie">
    <div id="the_best_movie_left_box">
        <div class="left-box-item"><h3 id="the_best_movie_title"></h3></div>
        <div class="left-box-item"><button id="the_best_movie_play_button" class="play-button" type="button">Play</button></div>
    </div>
    <div id="the_best_movie_right_box">
        <a id="the_best_movie_url" class="js-modal" href="">
            <img id="the_best_movie_img" class="best-movie" src="" alt=""/>
        </a>
    </div>
    <script src="{{ url_for('static', filename='js/the_best_movie.js') }}"></script>
</section>


<section id="best_movies">
    <h2>Films les mieux notés</h2>
    <div id="carrousel_0" class="slideshow-container">
        <a class="prev">&#10094;</a>
        <div class="list-movies">
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
        </div>
        <a class="next">&#10095;</a>
    </div>
    <script src="{{ url_for('static', filename='js/best_movies.js') }}"></script>
</section>


<section id="best_movies_by_category">
    <div id="category_0">
        <h2></h2>
        <div id="carrousel_1" class="slideshow-container">
            <a class="prev">&#10094;</a>
            <div class="list-movies">
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            </div>
            <a class="next">&#10095;</a>
        </div>
    </div>
    <div id="category_1">
        <h2></h2>
        <div id="carrousel_2" class="slideshow-container">
            <a class="prev">&#10094;</a>
            <div class="list-movies">
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            </div>
            <a class="next">&#10095;</a>
        </div>
    </div>
    <div id="category_2">
        <h2></h2>
        <div id="carrousel_3" class="slideshow-container">
            <a class="prev">&#10094;</a>
            <div class="list-movies">
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
                <div class="movie"><a class="js-modal" href=""><img class="best-movie" src="" alt=""/></a></div>
            </div>
            <a class="next">&#10095;</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/best_movies_by_category.js') }}"></script>
</section>


<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/carrousel.js') }}"></script>

{% endblock %}
